div {
  border: 1px dashed grey;
}

body {
  background: #fff;
  font-family: 'Poppins';
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -.0125em;
}

.container-fluid {
  background-image: url(/images/food-background-2763.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}

.container-main {
  padding-top: 5vh;
}

.logo h1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 72px;
  letter-spacing: 7px;
  line-height: 1em;
  padding: 10px;
}

.logo {
  width: 100% !important;
  margin-bottom: 25px;
}

.my-recipe-box {
  font-family: 'Libre Baskerville', serif;
  text-align: left;
  padding-left: 15px;
  color: white;
  line-height: 3;
  letter-spacing: 3px;
  font-size: 30px !important;
}

.define {
  letter-spacing: 2px;
  color: white;
  text-align: center;
  font-size: 16px;
}

.row.header {
  height: 20vh;
}

.thumbnail {
  max-height: 25%;
}

.bottom-align-buttons {
  text-align: center;
}


/* start search bar */

.container-1 {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search {
  width: 48vw;
  height: 50px;
  background: #EAE3DE;
  border: none;
  font-size: 12pt;
  float: left;
  color: black;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  opacity: .75;
}

.container-1 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-1 input#search:-moz-placeholder {
  /* Firefox 18- */
  color: #65737e;
}

.container-1 input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: #65737e;
}

.container-1 input#search:-ms-input-placeholder {
  color: #65737e;
}

.container-1 .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

#search-ingredients {
  color: black;
}


/* end search bar */


/* recipe header */

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}


/*model transparent default*/

.modal-transparent {
  background: transparent;
}

.modal-transparent .modal-content {
  background: transparent;
}

.modal-backdrop.modal-backdrop-transparent {
  background: #ffffff;
}

.modal-backdrop.modal-backdrop-transparent.in {
  opacity: .9;
  filter: alpha(opacity=90);
}
