div {
  border: 1px dashed grey;
}

body {
  background: #fff;
  font-family: 'Poppins';
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -.0125em;
  color: #fff;
  background: #19181b;
  font-size: 1.125em
}

.container-fluid {
  background-image: url(/images/croissantsBaking.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  background-position: center;
}

.row.header {
  height: 20vh;
}
.define {
  font-style: italic;
  letter-spacing: 2px;
  margin: 0px 0px 20px 25px;
  color: white;
}

h2 {
  text-transform: capitalize;

  font-family: 'Poppins', sans-serif;
  font-size: 45px !important;
  text-align: left;
  color: white;

}




/*font-family: 'Arvo', serif;
font-family: 'Cutive', serif;
font-family: 'Raleway', sans-serif;
*/

.jumbotron {
  height: 450px;
  color: black
  background
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}


#search-ingredients {
  color: black;
}

/*model transparent default*/

.modal-transparent {
  background: transparent;
}

.modal-transparent .modal-content {
  background: transparent;
}

.modal-backdrop.modal-backdrop-transparent {
  background: #ffffff;
}

.modal-backdrop.modal-backdrop-transparent.in {
  opacity: .9;
  filter: alpha(opacity=90);
}
