div {
  border: 1px dashed grey;
}

body {
  background: #fff;
  font-family: 'Poppins';
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -.0125em;
  color: #fff;
  background: #19181b;
}

.container-fluid {
  background-image: url(/images/croissantsBaking.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  background-position: center;
}

.row.header {
  height: 20vh;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 45px !important;
  text-align: left;
  color: white;

}

.define {
  letter-spacing: 2px;
  margin: 0px 0px 20px 25px;
  color: white;
}

#search-ingredients {

}


.box{
  margin: 100px auto;
  width: 300px;
  height: 50px;
}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.container-1 input#search:-ms-input-placeholder {
   color: #65737e;
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}


/*font-family: 'Arvo', serif;
font-family: 'Cutive', serif;
font-family: 'Raleway', sans-serif;
*/

.jumbotron {
  height: 450px;
  color: black
  background
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}


#search-ingredients {
  color: black;
}

/*model transparent default*/

.modal-transparent {
  background: transparent;
}

.modal-transparent .modal-content {
  background: transparent;
}

.modal-backdrop.modal-backdrop-transparent {
  background: #ffffff;
}

.modal-backdrop.modal-backdrop-transparent.in {
  opacity: .9;
  filter: alpha(opacity=90);
}
